@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TwitterLogin</title>
</head>
<body>
    @Html.Label(ViewBag.suc ? "true" : "false")
    <div id="main">
        
    </div>
</body>
</html>
