@{
    ViewBag.Title = "Chat";
}

<h2>Chat</h2>
<script language="javascript" type="text/javascript">
    var from = '@(User.Identity.Name)';
    var to = '@(Convert.ToString(ViewBag.to))';
    function getMessages() {
        $(document).ready(function() {
            $.getJSON("/api/message/GetMessagesByKeys/?keys=" + from + "_" + to, function(data) {
                for (var i = 1; i <=10  && 0 <= data.length - i; i++) {
                    messageContent = "";
                    curLen = data.length - i;
                    messageContent += data[curLen].From + ":\r\n" + data[curLen].Message;
                    $("#mes" + (11 - i)).text(messageContent);
                }

            });
        });
    
    }

    function sendMessage() {
        $(document).ready(function () {
            var msg = $("#msgInput").val();
            $.getJSON("/api/message/GetSendMessage/?from=" + from + "&to=" + to + "&messag='" + encodeURIComponent(msg) + "'", function (data) {
                if (data == true) {
                    $("#msgInput").val("");
                } else {
                    $("#msgInput").val("Error");
                }
                    
                }
            );
        });
        
    }

    setInterval(getMessages, 1500);
</script>
<div id="chat">
    <table>
        <tr id="mes1"></tr>
        <tr id="mes2"></tr>
        <tr id="mes3"></tr>
        <tr id="mes4"></tr>
        <tr id="mes5"></tr>
        <tr id="mes6"></tr>
        <tr id="mes7"></tr>
        <tr id="mes8"></tr>
        <tr id="mes9"></tr>
        <tr id="mes10"></tr>
    </table>
    <input type="text" id="msgInput"/>
    <button type="button" value="Send" onclick="sendMessage();"></button>
</div>
