@{
    ViewBag.Title = "Chat";
}

<h2>Chat</h2>
<script language="javascript" type="text/javascript">
    var from = '@(User.Identity.Name)';
    var to = '@((string)ViewBag.to)';
    $document.ready(function () {
        $.getJSON("api/message/GetMessagesByKey/" + from + "_" + to, function(data) {
            for (var i = i.length - 1; i >= 0 && i >= i.length - 10; i--) {
                $("mes" + i).text(data[i].Message);
            }
            
        });
    });
</script>
<div id="chat">
    <table>
        <tr id="mes1"></tr>
        <tr id="mes2"></tr>
        <tr id="mes3"></tr>
        <tr id="mes4"></tr>
        <tr id="mes5"></tr>
        <tr id="mes6"></tr>
        <tr id="mes7"></tr>
        <tr id="mes8"></tr>
        <tr id="mes9"></tr>
        <tr id="mes10"></tr>
    </table>
</div>
