@{
    ViewBag.Title = "NearbyUsers";
}

<h2>NearbyUsers</h2>

@{
    List<int> users = (List<int>) ViewBag.users;
    List<string> names = (List<string>) ViewBag.names;
    for (int i = 0; i < users.Count; ++i)
    {
        <a href="Chat/@(users[i])">@(names[i])</a>
        @Html.DisplayText("<br>");
    }
}
