@{
    ViewBag.Title = "Friends";
}

<h2 style="color:#444; font-size: 14pt;margin-left: 100px; width:200px;">Friends</h2><br/>

<div id="chat">
@{
    List<int> users = (List<int>) ViewBag.users;
    List<string> names = (List<string>) ViewBag.names;
    for (int i = 0; i < users.Count; ++i)
    {
        <img src="~/Content/tab-me.png" width="27px" height="27px" style="margin-top: -10px" align="middle"/>
        @(names[i])
     
        <a class="schat" href="Chat/@(users[i])">Start chat!</a>
        <br/><br />
    }
}
</div>